/examples/chinchon/.cartesi
/examples/chinchon/.git
/examples/chinchon/.github
/examples/chinchon/.vscode
/examples/chinchon/.turbo
/examples/chinchon/.DS_Store
/examples/chinchon/pyScripts
/examples/chinchon/server-build
/examples/chinchon/build
/examples/chinchon/node_modules
node_modules
.cartesi
.git
.github
.vscode
.turbo
.DS_Store
documentation
packages
!packages/drand-middleware
!packages/main
examples
!examples/chinchon
packages/*/node_modules

# could be removed in case we want to add a starting sqlite.db to the docker image
/examples/chinchon/sqlite.db